<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WLRS - Workout: {{ workout_date }}</title>
  </head>
  <body>
    <div id="content">
      {{#each items}}
      <exent>{{ ExerciseEntry }}</exent>
      {{/each}}
    </div>
    <p>Comments: {{ comments }}</p>
  </body>
</html>